language: node_js
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
cache:
  directories:
    - node_modules
env:
  global:
    - CXX=g++-4.8
  matrix:
    - NPM_VERSION=2
    - NPM_VERSION=3
matrix:
  fast_finish: true
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "5"
before_install:
  - npm install --global npm@${NPM_VERSION}
script:
  - npm run build
  - npm run test
after_success:
  - curl -Lo travis_after_all.py https://git.io/travis_after_all
  - python travis_after_all.py
  - export $(cat .to_export_back)
  - |
      if [ "$BUILD_LEADER" = "YES" ]; then
        if [ "$BUILD_AGGREGATE_STATUS" = "others_succeeded" ]; then
          ./node_modules/.bin/codecov
          # npm run semantic-release
        fi
      fi
